.coursetotalfx{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color:#222;
}
.yesterday{
    height: 150px;
    width: 100%;
    color: #222;
}
.border_ccc{
    border: 1px solid #ccc;
}
.yst-zb-cap{
    padding-left: 20px;
    height: 38px;
    line-height: 38px;
    background-color: #f4f5f9;
}
.yst-zb-body{
    height: 112px;
}
.yst-zb-body > .flex-h{
    width: 100%;
    text-align: center;
}
.yesterday-title{
    padding: 3px 0;
}
.yesterday-value{
    font-size: 30px;
    color: #676767;
    padding: 6px 0;
}
